#root{
  background: rgb(44, 44, 44);
}

#main-container{
  padding-top: 15px;
  min-height: 100vh;
  box-shadow: 0 0 30px 2px #FFF;
  overflow-y: hidden;  background: #000000; 
  background: -webkit-linear-gradient(to right, #434343, #000000); 
  background: linear-gradient(to top, #434343, #000000);
}

p{
  color: #FFF;
}